/* TASKS TO COMPLETE */
.eachQuest{
    background-color: black;
    color: white;
}
.child-quest-detail{
    margin: 0
}
.child-quest-pay{
    display: flex;
}
.child-quest-name{
    display: flex;
    align-items: center;
}
.completeBtn{
    margin-left: 5vw;
    margin-right: 20px;
    background-color: white;
    color: blue;
    border: 4px solid red;
    height: 30px;
    width: 30px;
}
/* REWARD */
.individual-reward{
    transform: translateX(15vw);

}
.child-rewards{
    width: 70vw;
}
.child-reward{
    color: white;
    background-color: black;
    margin-bottom: 20px;
}
.reward-content{
    display: flex;
    justify-content: space-between;
}
.reward-name, .task-name{
    display: flex;
    font-family: "MedievalSharp", cursive;
    font-size: 24px;
}
.child-coin{
    background-image: url(../assets/Coin.svg);
    background-size: 60px;
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
}
.redeem-btn{
    background-color: #0811da;
  border: transparent;
  padding: 5px 40px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.reward-points, .reward-name, .child-num{
    display: flex;
    align-items: center;
    font-family: "MedievalSharp", cursive;

}
.reward-points, .task-points{
text-align: center;
display: flex;
justify-content: center;
flex-direction: column;
margin: 0;
font-family: "MedievalSharp", cursive;
font-size: 24px;
color:#daa442;
margin-right: 5vw;

}
.other-half{
    display: flex;
    flex-direction: row;
    margin-right: 5vw;
}
