.caregiverDashboard-navLogo{
  background-image: url(../assets/game-icons_medieval-gate.svg);
  background-size: 75% 75%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 15vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5%; */
}

.dash {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dash-link,
.qr-link {
  text-decoration: none;
  color: black;
  margin: 0 40px;
  font-family: 'MedievalSharp', cursive;
  font-size: 36px;
  color: white;
  margin-bottom: 40px;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.task {
  background-color: #2f3240;
  padding: 1rem;
}

.child-name {
  font-family: 'MedievalSharp', cursive;
}

.add-child,
.child-register-section,
.child-bars {
  display: flex;
  justify-content: center;
}

.task-list, 
.quests-todo, 
.quests-complete {
  width: 65vw;
}
.add-knight-form,
.task-details {
  background-color: rgba(9, 8, 218, 0.16);
  /* background-color: red; */
  border-radius: 0px 0px 15px 15px;
  margin-top: 0px;
  padding: 5px 5px 5px 5px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-knight,
.child-bar {
  display: flex;
  justify-content: flex-start;
  color: white;
  margin-top: 20px;
  padding: 1%;
  border-radius: 10px;
  width: 70vw;
  margin-bottom: 0px;
}
.add-knight-form {
  color: white;
  text-align: left;
}
.child-bar:nth-child() {
  display: flex;
  justify-content: end;
}

.add-knight {
  background-color: #0711d9;
}
.child-bar{
  background-color: #000000;
}

.total-completed,
.total-incompleted {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  justify-content: center;
}

.content {
  display: flex;
  margin-left: auto;
}

.number {
  text-align: center;
  font-size: 24px;
  margin-bottom: -8px;
}

.quests {
  display: flex;
  justify-content: flex-start;
  background-color: black;
  color: white;
  padding: 1% 1% 1% 0%;
  margin: 1.5% 0% 1.5% 0%; 
  width: 65vw;
}

.quest-coins {
  color: #d9a441;
}

.complete-quests,
.incomplete-quests {
  font-size: 24px;
  margin: 10px 0 10px 0;
  font-family: 'MedievalSharp', cursive;
}






/* REGISTER CHILD */
.assign-child-side {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.register-name {
  margin-top: 20px
}

.register-div {
  display: flex;
  /* justify-content: flex-end; */
}

.auth-input {
  margin-left: 40px;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.auth-input::placeholder {
  color: white;
}

.child-register-btn {
  display: flex;
  justify-content: flex-end;
}

.register-child-submit {
  margin-left: 50vw;
  margin-bottom: 40px;
  margin-top: 20px;
  background-color: #0811da;
  border: transparent;
  padding: 5px 40px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.complete-quests {
  color: white;
  margin: 50px 0px 15px 0px;
  font-size: xx-large;
}

.incomplete-quests {
  color: white;
  margin: 20px 0px 15px 0px;
  font-size: xx-large;
}

.quest-coins {
  display: flex;
  margin-left: auto;
}

/* AVATARS & ICONS START HERE */
.childAvatar {
  background-image: url(../assets/OrangeAvatar.svg);
  background-size: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 14%;
  padding-right: 7%;
  margin-left: -5%
}

.questSwordAvatar {
  background-image: url(../assets/Sword.png);
  background-size: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 14%;
  padding-right: 7%;
  margin-left: -5%
}

.addUserAvatar {
  background-image: url(../assets/AddUser.svg);
  background-size: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 14%;
  padding-right: 7%;
  margin-left: -5%
}