.header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 70px;
}
.home-box {
  background-color: rgb(195, 195, 195);
  width: 75%;
  height: 80vh;
  margin: auto;
  display: flex;
  justify-content: center;
}
.link {
  text-decoration: none;
}
.home-nav {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  margin-top: 55vh;
}
.home-register {
  margin-right: 10px;
  background-color: rgb(90, 86, 86);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

.home-login {
  margin-left: 10px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
}
/* CAREGIVER LOGIN */
.login-page,
.register-page,
.whose-box {
  display: flex;
  justify-content: center;
}
.random-box {
  width: 40%;
  height: 600px;
  background-color: rgb(67, 65, 65);
}
.login-side,
.register-side,
.whose-input-side {
  width: 40%;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgb(210, 207, 207);
}

.login-title {
  margin: 10px 10px 10px 10px;
}
.register-title {
  margin: 60px 10px 10px 4vw;
  display: flex;
  justify-content: space-between;
}
.login-form,
.register-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 4vw;
}
.auth-log {
  background-color: rgb(123, 122, 122);
  color: white;
  border: none;
  width: 12vw;
  height: 30px;
  border-radius: 30px;
}
.login-btn,
.register-btn {
  display: flex;
  justify-content: center;
  border-radius: 30%;
}
.two-other-register {
  display: flex;
  justify-content: center;
}
.or {
  text-align: center;
}
.other-register {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
}
.apple-sign,
.google-sign {
  height: 30px;
  width: 8vw;
  margin: 0 10px;
  border-radius: 30px;
  background-color: rgb(126, 126, 126);
}
.already-account {
  text-align: center;
  color: black;
  margin-top: auto;
  margin-bottom: 40px;
}
/* TASKMASTER */

.task-master, .task-runner{
    text-align: center;
    background-color: rgb(94, 93, 93);
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.task-master {
    width: 200px;
    margin: 0 auto;
    margin-top: 40%;
    margin-bottom: 40px;
}
.task-runner{
    width: 200px;
    margin: 0 auto;
}