.qst {
  display: flex;
  justify-content: center;
}
.num-adult-tasks {
  text-align: center;
}
.quest-bars {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.each-quest {
  color: white;
  background-color: #000000;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}
.each-quest-detail {
  display: flex;
  justify-content: space-between;
}
.assign-quest-section {
  display: flex;
  flex-direction: column;
}
.assign-quest {
  text-align: center;
}
.assign-quest-div {
  display: flex;
  flex-direction: column;
}
.assign-quest-per-child {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.assign-child-quest {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #0811da;
  width: 500px;
  color: white;
}
.assign-form {
  display: flex;
  justify-content: center;
}
.create-quest {
  display: flex;
  justify-content: center;
}
.new-quest {
    padding: 10px;
  width: 500px;
  background-color: red;
  border-radius: 10px;
}
.open-form{
    display: flex;
    justify-content: center;
}
.new-quest-form{
width: 500px
}


/* REWARDS */
.rewards-title{
  text-align: center;
}
.adult-total-rewards{
  text-align: center;
}
.parent-rewards{
  display: flex;
  justify-content: center;
}
.rewards-bar{
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #DAA442;
}
